private.el
*.*~
session.*
*.swp
anything-c-adaptive-history
helm-adaptive-history
ac-comphist.dat
*.elc
elpa/archives/
elisp/psise-el/
elpa/
url/
abbrev_defs
bookmarks
etc/
info/
lisp/
environment/
semanticdb/
server/
